@model aspnet2.Models.IdeaViewModel;

<div  class="my-4 idea-card">
        <div class="px-1 text-dark text-start" style="font-family: sans-serif;">
            <p class="fs-5 m-0">
                <!-- <a href="Idea/@Model.Idea.Id" class="link-offset-2 link-underline link-underline-opacity-0"> -->
                <a href="Ideia/@Model.Idea.Id" style="text-decoration: none;" class="text-dark">
                    @Model.Idea.Title
                </a>
            </p>
        </div>
        <div class="card mx-auto text-center">
            <svg class="bd-placeholder-img card-img-top text-center" width="100%" 
                height="225" xmlns="http://www.w3.org/2000/svg" role="img" 
                aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
                <rect width="100%" height="100%" fill="#55595c"></rect>
                <text  x="44%" y="50%"fill="#eceeef" dy=".3em">Placeholder</text>
            </svg>
            <div class="card-body">
                <p class="text-dark">@Model.Idea.Text</p>
            </div>
        </div>
        <button 
            id="idea@(Model.Idea.Id)" 
            class="d-flex flex-row m-1 rounded-2 btn btn-outline-warning ts-black 
                @if (Model.UserUpvoted) {
                    @("active upvoted");
                }"
            data-bs-toggle="button"
            onclick="vote(@Model.Idea.Id)"
            >
            <svg style="margin: auto; color: black;" xmlns="http://www.w3.org/2000/svg" width="18" height="18" 
                fill="currentColor" class="bi bi-lightbulb" viewBox="0 0 16 16">
                <path d="M2 6a6 6 0 1 1 10.174 4.31c-.203.196-.359.4-.453.619l-.762 1.769A.5.5 0 0 1 10.5 13a.5.5 0 0 1 0 1 .5.5 0 0 1 0 1l-.224.447a1 1 0 0 1-.894.553H6.618a1 1 0 0 1-.894-.553L5.5 15a.5.5 0 0 1 0-1 .5.5 0 0 1 0-1 .5.5 0 0 1-.46-.302l-.761-1.77a2 2 0 0 0-.453-.618A5.98 5.98 0 0 1 2 6m6-5a5 5 0 0 0-3.479 8.592c.263.254.514.564.676.941L5.83 12h4.342l.632-1.467c.162-.377.413-.687.676-.941A5 5 0 0 0 8 1"/>
            </svg>
            <p class="m-1" style="user-select: none; color: black;" id="counter@(Model.Idea.Id)">@Model.Idea.Upvotes.Count</p>
        </button>
    </div>
